@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.shutter {
  @apply bg-primary w-14 h-14 rounded-full;
  border: 5px solid rgba(6, 195, 107, 0.432);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.shutter:active {
  @apply bg-primary bg-opacity-60 w-14 h-14 rounded-full transition-opacity duration-300 ease-in-out;
  border: 5px solid rgba(6, 195, 107, 0.432);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btn {
  text-transform: none;
}

.btn.loading {
  @apply text-white;
}
